*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Sofia Pro", sans-serif;
  font-size: 15px;
  font-weight: 400;
  background-color: #fff;
  color: #676869;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline-block;
}

.container {
  width: 100%;
  max-width: 1272px;
  margin: 0 auto;
  padding: 0 16px;
}
